[run]
source = jschon
branch = True

[report]
exclude_lines =
    pragma: no cover
    return NotImplemented
    raise NotImplementedError
    raise TypeError
    # @overload function body:
    ^\s+\.\.\.$
    assert False
