[run]
source = jschon
branch = True

[report]
exclude_lines =
    pragma: no cover
    return NotImplemented
    raise NotImplementedError
    raise TypeError
    # ignore @overload-decorated definitions:
    ^\s+\.\.\.$
