[submodule "JSON-Schema-Test-Suite"]
	path = tests/JSON-Schema-Test-Suite
	url = https://github.com/marksparkza/JSON-Schema-Test-Suite
	branch = master
[submodule "json-schema-spec-2019-09"]
	path = jschon/catalogue/json-schema-spec-2019-09
	url = https://github.com/json-schema-org/json-schema-spec
	branch = 2019-09
[submodule "json-schema-spec-2020-12"]
	path = jschon/catalogue/json-schema-spec-2020-12
	url = https://github.com/json-schema-org/json-schema-spec
	branch = 2020-12
